.App {
  text-align: center;
}


/* Login Container CSS */

.loginBox{
 
  padding: 50px !important;
  text-align: center;
  margin-top: 50px;

  
}


/* Button Component */

.btn{
  padding: 10px;
  border: none;
  border-radius: 4px;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 14px;  
  cursor: pointer;
  background-color: #1a237e !important;
  color: white;
}

.btn:hover {
  opacity: 1;
}


.fbbtn{
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
  background-color: #3B5998 !important;
  color: white;
  cursor: pointer;
}

.fbbtn:hover {
  background-color: #1a237e !important;

}

/* Navbar */
ul.topnav {
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  overflow: hidden;
  background-color: #1a237e;
  color: white;
}
ul.topnav li.right {float: right;margin-right: 20px;}


/* Input Component Css */


.check{
  float: left;
  display: block !important
}
.check::after { 
  background-color: #1a237e !important;
}
